@import"./Utils/variables";

@font-face {
    font-family: 'Shrikhand';
    src: url(police/Shrikhand-Regular.otf) format(truetype);
}

@font-face {
    font-family: 'Roboto';
    src: url(police/Roboto-Regular.ttf) format(truetype);
}

body{
    margin:0px;
    font-family: "Roboto";
     
}


.headerlogo{
    display: block;
    text-align: center;
    padding: 15px 0px 5px;
        img{
            width: 190px;
            height: 32px;
        }
        
}

.loading {
    display: none;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: justify;
}

.spinner {
    cursor: progress;
    position: absolute;
    width: 100%;
    height: 100%;
  	-webkit-animation: seconds 1.0s forwards;
  	-webkit-animation-iteration-count: 1;
  	-webkit-animation-delay: 5s;
  	animation: seconds 1.0s forwards;
  	animation-iteration-count: 1;
  	animation-delay: 5s;
  	position: relative;
}

.spinner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10001;
    overflow: hidden;
    background: #FF79DA;
    opacity: 0.6;
}
.spinner:after {
    box-sizing: border-box;
    z-index: 10002;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border: 3px solid #621267;
    border-top: 3px solid #FF79DA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: custom-loading 1s linear infinite;
}

@keyframes custom-loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}
@keyframes seconds 
{
  0% {
  	opacity: 1;
	}
  100% {
  	opacity: 0;
    left: -9999px;
	}
}

/*----- homepage -----*/

.localisation_btn{
    width: 100%;
    background-color: rgb(228, 228, 228);
    border-top-style: hidden;
    box-shadow: inset 5px 10px 5px -10px rgb(165, 165, 165);
           .form{
            display: flex;
            justify-content: center;
            margin: auto;
                #localisation{
                    border-style: hidden;
                    background-color: transparent;
                    margin-left: 5px;
                    padding: 10px 10px 10px 10px;
                    font-size: 15px;
                    text-align: center;   
                    }    
                }
}

.fa, .far, .fas{
    position: absolute;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 15px;
    background-size: cover;
        .fa-gradient:active{
            background-color: $color-gradient;
            transform-origin: bottom;
            
        }
}

.intro{
    display: block;
    margin: auto;
    background-color: rgb(247, 244, 244);
    padding-top: 20px;
    padding-bottom: 50px;
        h2{
            display: flex;
            font-size: 20px;
            text-align: center;
            justify-content: center;   
            width: 70%;
            margin: 30px auto 5px;     
    }
}

.intro p{
    font-size: 15px;
    text-align: center;
    opacity: 0.70;
}

.btn_about{
    display: flex;
    justify-content: center;
        .about{
            font-size: 15px;
            box-shadow: $box-shadow;
            justify-content: center;
            border-radius: 25px;
            padding: 15px 20px;
            border-style: hidden;
            background-image:$color-gradient;
            color: white; 
            cursor: pointer;  
            &:hover{
                transition: 0.5s;
                opacity: 0.8; 
            } 
        }
}

h3{
    margin-left: 10px;
}

.step{
    background-color: rgb(248, 248, 248);
    width: 80%;
    margin: 20px auto;
    display: flex;
    border-style: hidden;
    border-radius: 25px ;
    box-shadow: $box-shadow;
    &:hover{
        background-color: $background-color;
        transition: 0.5s; 
        }
}

 .step h4{
        margin: auto;
        padding: 20px 0px;    
 }

 .step i{
     padding: 22px 10px 20px 0px;
     margin-left: 20px;
     color: rgb(112, 111, 111);
        &:hover{
            color: $primary-color;
        }
 }

 .step span{
     font-size: 12px;
     background-color: $primary-color;
     border-radius: 100%;
     text-align: center;
     height: 15px;
     width: 15px;
     color: white;
     position: relative;
     top: 22px;
     left: -7px;    
 }

 #result{
    display: inline-block;
    background-color: rgb(247, 244, 244);
    padding-top: 20px;
    width: 100%;
 }

 .motion{
    h4, p{
        margin: 5px 0px 5px 10px;
        font-size: 12px ;
        }
 }

.new, .serie{
    display: block;
    position: relative;
    width: 90%;
    margin: 0px auto 15px;
    border-style: hidden;
    overflow: hidden;
    box-shadow: $box-shadow;
    border-radius: 25px;
    padding-bottom: 5px;
    cursor: pointer;
        img{
            object-fit: cover;
            width: 100%;
            height: 150px;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
    }     
}

.new span{
    color: #4e6b64;
    display: block;
    font-size: 12px;
    padding: 5px;
    margin-top: 10px;
    position: absolute;
    background-color: $tertiary-color;
    border-style: hidden;
    text-align: center;
    right: 10px;
    top: 10px;
}

.motion i{
    position: absolute;
    display: flex;
    padding: 0px;
    margin-top: 10px;
    right: 30px; 
    font-size: 17px;
    cursor: pointer;
    transition: transform 4s;
    background-size: cover;
        &:active{
            background-image: $color-gradient;
        }  
}



/*----- page1 -----*/
.return_button{
    position: absolute;
    top: 12px;
    left: -10px;  
    color: black;
}
.intro_img{
    width: 100%;
    height: 200px;
        img{
            object-fit: cover;
            width: 100%;
            height: 300px;
        }
}

.menu_restaurant{
    display: inline-block;
    width: 100%;
    background-color:#f6f6f6;
    margin-top: 30px;
    padding-top: 15px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
        h1{
            font-family: "Shrikhand";
            font-size: 25px;
            padding-left: 20px; 
        }
}
.menu_title{
    display: inline-block;
    position: relative;
        .anim_heart{
            position: absolute;
            top : 10px;
            right: 15px;
                i{
                    font-size: 20px;
            }          
        }       
    }



.menu_ent, .menu_meal, .menu_dessert{
    width: 100%;
    padding-bottom: 20px;
        h2{
            font-weight: lighter;
            font-size: 15px;
            margin-left: 20px;
            padding-bottom: 10px;
            width: fit-content;
            border-bottom: solid $tertiary-color;
                
}
}



.ent_1, .ent_2, .ent_3, .meal_1,
.meal_2, .meal_3, .dess_1, .dess_2, .dess_3{
    
    background-color: white;
    border-style: hidden;
    border-radius: 25px;
    box-shadow: $box-shadow;
    margin: 10px auto;
    width: 90%;
    h3{
        font-size: 15px;
        margin-bottom: 10px;
    }
}

.descript_rate{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
        span{
           
        
        }
}

.menu button{
    display: flex;
    margin: 20px auto;
    font-size: 15px;
    box-shadow: $box-shadow;
    justify-content: center;
    border-radius: 25px;
    padding: 15px 20px;
    border-style: hidden;
    background-image:$color-gradient;
    color: white; 
    cursor: pointer;  
        &:hover{
            transition: 0.5s;
            opacity: 0.8; 
        } 
}

/*----- footer -----*/

footer{
    background-color: $footer-background;
    color: white;
    padding: 10px 0px;
     h3{
        font-family: "Shrikhand";
        font-weight: lighter;
        font-size: 25px;
        margin-left: 20px;
        margin-bottom: 0px;
     }
}

footer ul{
    padding-left: 25px;
    display: inline-block;
}

footer li{
    display: block;
    list-style: none;
        a{
        font-size: 14px;
        padding-left: 0px;
        text-decoration: none;
        color: white;    
        }
}

 .foot_1, .foot_2{
     display: flex;
        i{
            position: relative;
            padding: 0px;
        }
 }

 .foot_1 a{
     margin-left: 7px;
 }

























        
      
    
  

    












                    
    



