@import"./Utils/variables";

@font-face {
    font-family: 'Shrikhand';
    src: url(police/Shrikhand-Regular.otf) format("truetype");
}

@font-face {
    font-family: 'Roboto';
    src: url(police/Roboto-Regular.ttf) format("truetype");
}

body{
    margin:0px;
    font-family: "Roboto";
     
}

.headerlogo{
    display: block;
    text-align: center;
    padding: 15px 0px 5px;
        img{
            width: 190px;
            height: 32px;
        }       
}

.loading {
    display: block;
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    overflow: hidden;
        h1{
        position: relative;
        font-family: 'Shrikhand'; 
        text-align: center;
        top: 45%;
        margin-left: 0.8em;
     
    }   
}


.spinner {
    cursor: progress;
    width: 100%;
    height: 100%;
    background: white;
    position: fixed;
  	-webkit-animation: time 2.0s forwards;
  	-webkit-animation-iteration-count: 1;
  	-webkit-animation-delay: 3s;
  	animation: time 1.0s forwards;
  	animation-iteration-count: 1;
  	animation-delay: 3s;
      &:before {
        margin: auto;
        content: "";
        z-index: 10001;
        overflow: hidden;   
    }
        &:after {
            left: 50%;
            margin-left: -6em;
            top: 38%;
            z-index: 10002;
            content: "";
            position: absolute;
            border: 10px solid $footer-background;
            border-top: 10px solid $tertiary-color;
            border-bottom: 10px solid $secondary-color;
            border-radius:50%;
            width: 200px;
            height: 200px;
            animation: spinner 1s linear infinite;  
        }
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes time {
    0% {
        opacity: 1;
      }

    90% {
        opacity: 0;
    }
    100% {
      left: -9999px;
      }
  }

@-webkit-keyframes time {
    0% {
        opacity: 1;
      }
    
    90% {
        opacity: 0;
    }
    100% {
      left: -9999px;
      }
  }


/*----- homepage -----*/

.localisation_btn{
    width: 100%;
    background-color: rgb(228, 228, 228);
    border-top-style: hidden;
    box-shadow: inset 5px 10px 5px -10px rgb(165, 165, 165);
           .form{
            display: flex;
            justify-content: center;
            margin: auto;
                #localisation{
                    border-style: hidden;
                    background-color: transparent;
                    margin-left: 5px;
                    padding: 10px 10px 10px 10px;
                    font-size: 15px;
                    text-align: center;   
                    }    
                }
}

.intro{
    display: block;
    margin: auto;
    background-color: rgb(247, 244, 244);
    padding-top: 20px;
    padding-bottom: 40px;
        h2{
            display: block;
            font-size: 20px;
            text-align: center;
            justify-content: center;   
            width: 70%;
            margin: 30px auto 5px;     
    }
}

.logo_loc i{
    padding-top: 10px;
    padding-left: 30px;
}

.intro p{
    font-size: 15px;
    position: relative;
    text-align: center;
    opacity: 0.70;
}

.btn_about, .btn_buy{
    display: flex;
    justify-content: center;
        .about, .buy{
            font-size: 15px;
            box-shadow: $box-shadow;
            justify-content: center;
            border-radius: 25px;
            padding: 15px 20px;
            border-style: hidden;
            background-image:$color-gradient;
            color: white; 
            cursor: pointer;  
            &:hover{
                transition: 0.5s;
                opacity: 0.8; 
            } 
        }
}

.btn_about{
    padding-top: 10px;
}

h3{
    margin-left: 10px;
}

.step{
    background-color: rgb(248, 248, 248);
    width: 80%;
    margin: 20px auto;
    display: flex;
    border-style: hidden;
    border-radius: 25px ;
    box-shadow: $box-shadow;
    &:hover{
        background-color: $background-color;
        transition: 0.5s; 
        }
}

 .step h4{
        margin: auto;
        padding: 20px 0px;    
 }

 .step i{
     position: absolute;
     width: 65%;
     padding: 22px 10px 20px 0px;
     margin-left: 20px;
     color: rgb(112, 111, 111);
        &:hover{
            color: $primary-color;
        }
 }


 .step span{
     font-size: 12px;
     background-color: $primary-color;
     border-radius: 100%;
     text-align: center;
     height: 15px;
     width: 15px;
     color: white;
     position: relative;
     top: 22px;
     left: -7px;    
 }

 #result{
    display: inline-block;
    background-color: rgb(247, 244, 244);
    padding-top: 20px;
    width: 100%;
 }

 .motion{
    h4, p{
        margin: 5px 0px 5px 10px;
        font-size: 12px ;
        }
 }

.new1, .new2, .serie1, .serie2{
    display: block;
    position: relative;
    width: 90%;
    margin: 0px auto 15px;
    border-style: hidden;
    overflow: hidden;
    box-shadow: $box-shadow;
    border-radius: 25px;
    padding-bottom: 5px;
    cursor: pointer;
        img{
            object-fit: cover;
            width: 100%;
            height: 150px;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
    }     
}

.new1 span, .new2 span{
    color: #4e6b64;
    display: block;
    font-size: 12px;
    padding: 5px;
    margin-top: 10px;
    position: absolute;
    background-color: $tertiary-color;
    border-style: hidden;
    text-align: center;
    right: 10px;
    top: 10px;
}

.fa-empty{
    position: absolute;
    display: flex;
    padding: 0px;
    right: 15px; 
    bottom: 10px;
    font-size: 17px;
    cursor: pointer;
    z-index: 10002;
    background-color: #F8F4F3;
    transition: transform 4s;
    background-size: cover;
}

.fa-color{
    position: absolute;
    display: flex;
    padding: 0px;
    right: 15px; 
    bottom: 10px;
    font-size: 17px;
    cursor: pointer;
    background: linear-gradient(to bottom, $secondary-color, $primary-color);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    z-index: 10001;
    background-size: cover;    
}





/*----- pages_restaurant -----*/

.return_button i{
    position: absolute;
    top: 20px;
    left: 15px; 
    color: black;
    border-style: hidden ;
}

.intro_img{
    width: 100%;
    height: 200px;
        img{
            object-fit: cover;
            width: 100%;
            height: 300px;
        }
}
.fa-white{
    position: absolute;
    display: flex;
    padding: 0px;
    margin-top: 10px;
    right: 30px;
    top: 30px; 
    font-size: 17px;
    cursor: pointer;
    z-index: 10002;
    background-color: #F8F4F3;
    transition: transform 4s;
    
}

.fa-red{
    position: absolute;
    display: flex;
    padding: 0px;
    height: 15px;
    margin-top: 10px;
    right: 30px; 
    top: 30px; 
    bottom: 0px;
    font-size: 17px;
    cursor: pointer;
    background: linear-gradient(to bottom, $secondary-color, $primary-color);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    z-index: 10001;
    background-size: cover;    
}

.menu_restaurant{
    display: inline-block;
    position: relative;
    width: 100%;
    background-color:#f6f6f6;
    margin-top: 30px;
    padding-top: 15px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
        h1{
            font-family: "Shrikhand";
            font-size: 25px;
            padding-left: 20px; 
        }
}

/*----- animation remplissage du coeur -----*/

   
.fa-empty:hover, .fa-white:hover{   
    animation-delay: 10s;
    animation-name: heart1 ;
    -moz-animation: heart1 infinite 4s; /* Firefox */
    -webkit-animation: heart1 infinite 4s; /* Safari et Chrome */
}
    @keyframes heart1{
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            left: -99999px;
            
        }
    }
    @-moz-keyframes heart1{ /* sur Firefox */
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            left: -99999px;
            
        }
    }
    @-webkit-keyframes heart1{ /* sur Safari et Chrome */
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            left: -99999px;
            
        }
    }
    @-o-keyframes heart1{ /* sur Opera */
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            left: -99999px;
            
        }
    }
 






/*-----Animation entré sur la page des restaurants-----*/

.menu_ent, .menu_meal, .menu_dessert{
    width: 100%;
    padding-bottom: 20px;
            h2{
                font-weight: lighter;
                font-size: 15px;
                margin-left: 20px;
                padding-bottom: 10px;
                width: min-content;
                border-bottom: solid $tertiary-color; 
                       
    }
}
 .ent_1{
    
    animation-name: cascade_effect;
    animation-delay:   1s;
    -moz-animation: cascade_effect 1s; /* Firefox */
    -webkit-animation: cascade_effect 1s; /* Safari et Chrome */
 }

.ent_2{
    animation-name: cascade_effect;
    animation-delay:  2s;
    -moz-animation:cascade_effect 2s; /* Firefox */
    -webkit-animation: cascade_effect 2s; /* Safari et Chrome */
 }

.ent_3{
    animation-name: cascade_effect;
    animation-delay: 3s;
    -moz-animation:cascade_effect 3s; /* Firefox */
    -webkit-animation:cascade_effect 3s; /* Safari et Chrome */
 }

.ent_4{
    animation-name: cascade_effect;
    animation-delay:  4s;
    -moz-animation: cascade_effect 4s; /* Firefox */
    -webkit-animation: cascade_effect 4s; /* Safari et Chrome */
 } 

.meal_1{
    animation-name: cascade_effect;
    animation-delay:  4.5s;
    -moz-animation: cascade_effect 4.5s; /* Firefox */
    -webkit-animation: cascade_effect 4.5s; /* Safari et Chrome */
 } 

.meal_2{
    animation-name: cascade_effect;
    animation-delay:  5s;
    -moz-animation: cascade_effect 5s; /* Firefox */
    -webkit-animation: cascade_effect 5s; /* Safari et Chrome */
 } 

.meal_3{
    animation-name: cascade_effect;
    animation-delay:  5.5s;
    -moz-animation: cascade_effect 5.5s; /* Firefox */
    -webkit-animation: cascade_effect 5.5s; /* Safari et Chrome */
 } 

.meal_4{
    animation-name: cascade_effect;
    animation-delay: 6s;
    -moz-animation: cascade_effect 6s; /* Firefox */
    -webkit-animation: cascade_effect 6s; /* Safari et Chrome */
 } 

.dess_1{
    animation-name: cascade_effect;
    animation-delay: 6.5s;
    -moz-animation: cascade_effect 6.5s; /* Firefox */
    -webkit-animation: cascade_effect 6.5s; /* Safari et Chrome */
 } 

.dess_2{
    animation-name: cascade_effect;
    animation-delay: 7s;
    -moz-animation: cascade_effect 7s; /* Firefox */
    -webkit-animation: cascade_effect 7s; /* Safari et Chrome */
 } 

.dess_3{
    animation-name: cascade_effect;
    animation-delay: 7.5s;
    -moz-animation: cascade_effect 7.5s; /* Firefox */
    -webkit-animation: cascade_effect 7.5s; /* Safari et Chrome */
} 

.dess_4{
    animation-name: cascade_effect;
    animation-delay: 8s;
    -moz-animation: cascade_effect 8s; /* Firefox */
    -webkit-animation: cascade_effect 8s; /* Safari et Chrome */
} 

@keyframes cascade_effect{
    from {
        opacity: 0;
           
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes cascade_effect { /* sur Firefox */
    from {
        opacity: 0;
           
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes cascade_effect{ /* sur Safari et Chrome */
    from {
        opacity: 0;
           
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes cascade_effect{ /* sur Opera */
    from {
        opacity: 0;
           
    }
    to {
        opacity: 1;
    }
}
/*-------------------------------------------------------*/

.ent_1, .ent_2, .ent_3, .ent_4, .meal_1,
.meal_2, .meal_3, .dess_1, .dess_2, .dess_3{
    display: flex;
    position: relative;
    height: 60px;
    flex-direction: column;
    background-color: white;
    border-style: hidden;
    border-radius: 25px;
    box-shadow: $box-shadow;
    margin: 10px auto;
    width: 90%;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    h3{
        font-size: 15px;
        margin: 0px;
        padding: 10px 0px 0px 10px;
        white-space: nowrap;
        text-overflow: ellipsis; 
    }
}

.descript_rate{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
            p{
                margin: 10px 0px 10px 10px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;  
            }
                .rate{
                    position: relative;
                    border-bottom-right-radius: 25px;
                    margin-right: 10px;
                    font-weight: bold;
                    font-size: 14px;
                    background: none;
                }
                    .check{
                        position: absolute;
                        display: flex;
                        right: 0px;
                        top: 0px;
                        height: 60px;
                        width: 100%;
                        cursor: pointer;
                        padding: 0px;
                        opacity: 0;
                        border-top-right-radius: 25px;
                        border-bottom-right-radius: 25px;
                        background-color: $tertiary-color;
                    }
                            .check i{
                                display: flex;
                                font-size: 35px;
                                color: white;
                                margin: auto;
                                cursor: pointer;
                    }
    
}

.btn_buy{
    margin: 20px;
}

.menu_dessert{
    padding-bottom: 0px;
}

/*----- Animations selections des plats -----*/

.ent_1:hover .rate, .ent_2:hover .rate, .ent_3:hover .rate,
.ent_4:hover .rate, .meal_1:hover .rate, .meal_2:hover .rate,
.meal_3:hover .rate, .meal_4:hover .rate, .dess_1:hover .rate,
.dess_2:hover .rate, .dess_3:hover .rate, .dess_4:hover .rate{
    animation: price 0.5s ease-in forwards;
    -moz-animation: price 0.5s ease-in forwards;
    -webkit-animation: price 0.5s ease-in forwards ;
    -ms-animation: price 0.5s ease-in forwards ;
    -o-animation: price 0.5s ease-in forwards;
        
        @-webkit-keyframes price {
            0% {width:0%}
            100% {width: 30%;} 
        }
        @-moz-keyframes price {
            0% {width:0%}
            100% {width:30%;}
        }
        @keyframes price {
            0% {width:0%}
            100% {width:30%;}
        }
    }

.ent_1:hover .check, .ent_2:hover .check, .ent_3:hover .check,
.ent_4:hover .check, .meal_1:hover .check, .meal_2:hover .check,
.meal_3:hover .check, .meal_4:hover .check, .dess_1:hover .check,
.dess_2:hover .check, .dess_3:hover .check, .dess_4:hover .check{
    opacity: 1;
    transition: 0.5s;
    -moz-animation: check 0.5s ease-in forwards;
    -webkit-animation: check 0.5s ease-in forwards;
    -ms-animation: check 0.5s ease-in forwards;
    -o-animation: check 0.5s ease-in forwards;
     animation: check 0.5s ease-in forwards;

    @-webkit-keyframes check {
        0% {width:0%}
        100% {width:20%;}
    }
    @-moz-keyframes check {
        0% {width:0%}
        100% {width:20%;}
    }
    @keyframes check {
        0% {width:0%}
        100% {width:20%;}
    }
} 

.ent_1:hover .check i, .ent_2:hover .check i, .ent_3:hover .check i,
.ent_4:hover .check i, .meal_1:hover .check i, .meal_2:hover .check i,
.meal_3:hover .check i, .meal_4:hover .check i, .dess_1:hover .check i,
.dess_2:hover .check i, .dess_3:hover .check i, .dess_4:hover .check i{
    -webkit-animation: seconds 1.0s forwards;
    -webkit-animation-iteration-count: 1;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    box-sizing: border-box;
    animation: checking 1s linear ;
     
    @keyframes checking {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}


/*----- footer -----*/

footer{
    background-color: $footer-background;
    padding: 10px 0px;
     h3{
        color: white;
        font-family: "Shrikhand";
        font-weight: lighter;
        font-size: 25px;
        margin-left: 20px;
        margin-bottom: 0px;
     }
        ul{
            padding-left: 20px;
        }
            li{
            list-style: none;
            font-size: 14px;
            padding-left: 0px;
                a{
            text-decoration: none;
            color: white; 
            }
    }
}

.foot_log1, .foot_log2{
    display: flex;
        i{
           color: white; 
        }
}
.foot_log1 a{
    margin-left: 6px;
}


/*-----mediaQ-----*/

@media screen and (min-width: 580px){
.new1, .new2, .serie1, .serie2{
    width: 90%;
    height: 250px;
        img{
            height: 200px;
        }
}
}

@media screen and (min-width: 800px){
    .restau{
        background-color: $footer-background;
    }
    
    .headerlogo{
        background-color:#f6f6f6;
    }
    

    .step{
        width: 50%;
    }

    .new, .serie{
        display: flex;
        width: 100%;      
    }

    .new1, .new2, .serie1, .serie2{
        width: 80%;
        margin: 10px;
    }

    footer h3{
        text-align: left;
    }    


.menu_restaurant{
    
    left: 12.5%;
    width: 75%;
    
}

.ent_1, .ent_2, .ent_3, .ent_4, .meal_1,
.meal_2, .meal_3, .dess_1, .dess_2, .dess_3{
    width: 60%;
}
}


@media screen and (min-width: 1024px){
    .new1, .new2, .serie1, .serie2{
        width: 70%;
        height: 250px;
        margin: 10px;
            img{
                height: 200px;
            }
    }

}






    
 



























        
      
    
  

    












                    
    



