$primary-color:#9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99e2d0;
$background-color:#E4D5F6;
$color-gradient: linear-gradient(to bottom, $secondary-color, $primary-color); 
$box-shadow: 2px 3px 2px rgb(211, 211, 211);
$footer-background: #353535;